USE [master]
GO
/****** Object:  Database [spjdb]    Script Date: 2025/5/6 17:04:01 ******/
CREATE DATABASE [spjdb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'spjdb', FILENAME = N'D:\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\spjdb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'spjdb_log', FILENAME = N'D:\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\spjdb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [spjdb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [spjdb]
GO
/****** Object:  Table [dbo].[J]    Script Date: 2025/5/6 17:04:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[J](
	[jno] [char](2) NOT NULL,
	[jname] [char](10) NOT NULL,
	[city] [char](10) NULL,
 CONSTRAINT [PK_J] PRIMARY KEY CLUSTERED 
(
	[jno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[P]    Script Date: 2025/5/6 17:04:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[P](
	[pno] [char](2) NOT NULL,
	[pname] [char](10) NOT NULL,
	[color] [char](2) NULL,
	[weight] [smallint] NULL,
 CONSTRAINT [PK_P] PRIMARY KEY CLUSTERED 
(
	[pno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[S]    Script Date: 2025/5/6 17:04:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[S](
	[sno] [char](2) NOT NULL,
	[sname] [char](10) NOT NULL,
	[status] [smallint] NULL,
	[city] [char](10) NULL,
 CONSTRAINT [PK_S] PRIMARY KEY CLUSTERED 
(
	[sno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SPJ]    Script Date: 2025/5/6 17:04:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SPJ](
	[sno] [char](2) NOT NULL,
	[pno] [char](2) NOT NULL,
	[jno] [char](2) NOT NULL,
	[qty] [smallint] NULL,
 CONSTRAINT [PK_SPJ] PRIMARY KEY CLUSTERED 
(
	[sno] ASC,
	[pno] ASC,
	[jno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SPJ]  WITH CHECK ADD  CONSTRAINT [FK_SPJ_1] FOREIGN KEY([sno])
REFERENCES [dbo].[S] ([sno])
GO
ALTER TABLE [dbo].[SPJ] CHECK CONSTRAINT [FK_SPJ_1]
GO
ALTER TABLE [dbo].[SPJ]  WITH CHECK ADD  CONSTRAINT [FK_SPJ_2] FOREIGN KEY([pno])
REFERENCES [dbo].[P] ([pno])
GO
ALTER TABLE [dbo].[SPJ] CHECK CONSTRAINT [FK_SPJ_2]
GO
ALTER TABLE [dbo].[SPJ]  WITH CHECK ADD  CONSTRAINT [FK_SPJ_J] FOREIGN KEY([jno])
REFERENCES [dbo].[J] ([jno])
GO
ALTER TABLE [dbo].[SPJ] CHECK CONSTRAINT [FK_SPJ_J]
GO
ALTER TABLE [dbo].[P]  WITH CHECK ADD  CONSTRAINT [CK_P] CHECK  (([weight]>(0)))
GO
ALTER TABLE [dbo].[P] CHECK CONSTRAINT [CK_P]
GO
ALTER TABLE [dbo].[S]  WITH CHECK ADD  CONSTRAINT [CK_S] CHECK  (([status]>(0)))
GO
ALTER TABLE [dbo].[S] CHECK CONSTRAINT [CK_S]
GO
ALTER TABLE [dbo].[SPJ]  WITH CHECK ADD  CONSTRAINT [CK_SPJ] CHECK  (([qty]>(0)))
GO
ALTER TABLE [dbo].[SPJ] CHECK CONSTRAINT [CK_SPJ]
GO
USE [master]
GO
